body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #9657ad;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: baseline
}

form label {
    display: block;
    margin-bottom: 5px;
}

label {
    margin-right: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


form input[type="submit"] {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #9657ad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #9657ad;
}


.actionForm {
    display: flex;
    justify-content: space-between;
}

.actionForm .changeForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #9657ad !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actionForm .changeForm input[type="submit"]:hover {
    background-color: #7b4693 !important;
}

input[type="submit"]:hover {
    background-color: #7b4693 !important;
}

/* Стили для кнопки "Удалить" */
.actionForm .deleteForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #d9534f !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actionForm .deleteForm input[type="submit"]:hover {
    background-color: #c9302c !important;
}

.success-message {
    color: #4CAF50;
    background-color: #dff0d8;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
}

.change-message {
    color: #9e9e00;
    background-color: #fff3cd;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
}

.delete-message {
    color: #d9534f;
    background-color: #f2dede;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
}

select {
    padding: 10px;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

a {
    text-decoration: none;
    background-color: #9657ad;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
}

a:hover {
    background-color: #7b4693;
}

.worker-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы вокруг списка */
}

.worker-list li {
    margin-bottom: 10px; /* Расстояние между элементами списка */
    padding: 8px; /* Внутренний отступ вокруг текста */
    border: 1px solid #ddd; /* Граница между элементами списка */
    border-radius: 5px; /* Закругляем углы границы */
}

.worker-list li span {
    font-weight: bold; /* Жирный шрифт для текста внутри элемента списка */
    color: #333; /* Цвет текста */
}







