<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="container">
    <h2>User List</h2>

    <form th:action="@{/user/create}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Create User">
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Username</th>
            <th>Email</th>
            <!-- Добавьте дополнительные заголовки, если нужно -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.age}">User age</td>
            <td th:text="${user.name}">Username</td>
            <td th:text="${user.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>